@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,a, button {
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px 10%;
}


.logo{
    cursor: pointer;
}